- require 'date'
%html
  %head
    %meta{:charset => "utf-8"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "http://momentjs.com/static/js/global.js"}
    - [:suncalc, :flipclock, :passover, :hebrew_date, :config, :mincha, :sunrise, :schedule, :'sunrise-clock'].each do |js_file|
      %script{:type => "text/javascript", :src => "js/#{js_file}.js"}
    %link{:rel => "stylesheet", :href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "css/flipclock.css"}
  %body
    .container-fluid
      .print.text-center
        %b http://times.naharshalom.com/
      %h1
        .row.text-center
          .col-xs-5.col-lg-offset-1
            %img{:src => "images/logo.jpg"}
          .col-xs-7.col-lg-3
            %b
              %p Schedule for the week of
              %p ________ שַׁבַּת פְּרָשָׁת
      .row.text-center
        .col-lg-10.col-lg-offset-1.col-xs-12
          .well.row.screen-only
            .col-xs-3
              %input.calendar{:type => :date}
            .col-xs-2.text-lg
              .btn.btn-default.btn-block.btn-lg.disabled{:type => :button} Next sunrise in:
            .col-xs-7
              %span.countdown-to-sunrise.text-center.bold
          .row
            .col-xs-12
              %table.table.table-striped.table-condensed
                %tr.header
                  %th
                  %th.date
                  %th.start-hidden.selihot סְלְיחוֹת
                  %th.korbanot קָרְבָּנוֹת
                  %th.hodu הוֹדוּ
                  %th.yishtabach יִשְׁתַּבַּח
                  %th.amidah עֲמִידָה
                  %th.mincha מִנְחָה
                  %th.arbit עַרְבִית
                  %th.event.start-hidden
                - Date::DAYNAMES.each do |day|
                  %tr.one_day{:class => day}
                    %td #{day}
                    %td.date
                    %td.start-hidden.selihot
                    %td.korbanot
                    %td.hodu
                    %td.yishtabach
                    %td.amidah.bold
                    %td.mincha
                    %td.arbit
                    %td.event.start-hidden.RoshHodesh רֹאשׁ חֹדֶשׁ
                    %td.event.start-hidden.Taanit תַּעֲנִית
                    %td.event.start-hidden.Hanuka חֲנֻכַּה
                    %td.event.start-hidden.Purim פּוּרִים
                    %td.event.start-hidden.Moed חוֹל הַמוֹעֵד
                    %td.event.start-hidden.LagLaomer ל"ג לָעֹמֶר
                    %td.event.start-hidden.PesachSheni פֶּסַח שֵׁנִי
                    %td.event.start-hidden.BeginTalUmatar טַל וּמָטָר
                    %td.event.start-hidden.YomTob יוֹם טוֹב
                    %td.event.start-hidden.YomKippur יוֹם הַכִּפֻּרִים
                    %td.event.start-hidden.TuBAb ט"ו בְּאָב
                    %td.event.start-hidden.MaharHodesh מָחָר חֹדֶשׁ
                    %td.event.start-hidden.PurimKatan פּוּרִים קָטָן
                    %td.event.start-hidden.ShushanPurim שׁוּשַׁן פּוּרִים
                    %td.event.start-hidden.ShushanPurimKatan שׁוּשַׁן פּוּרִים קָטָן
                    %td.event.start-hidden.ShabbatMevarechim שַׁבָּת מְבָרְכִים
                    %td.event.start-hidden.ShabbatSheqalim שַׁבָּת שְׁקָלִים
                    %td.event.start-hidden.ShabbatZachor שַׁבָּת זָכוֹר
                    %td.event.start-hidden.ShabbatParah שַׁבָּת פָּרָה
                    %td.event.start-hidden.ShabbatHaHodesh שַׁבָּת הַחֹדֶשׁ
                    %td.event.start-hidden.ShabbatHaGadol שַׁבָּת הַגָּדוֹל
                    %td.event.start-hidden.HachrazatTaanit אַחֵינוּ
                    %td.event.start-hidden.ErubTabshilin עֵרוּב תַּבְשִׁלִין
                    %td.event.start-hidden.HataratNedarim הָתַּרָת נְדָרים
                    %td.event.start-hidden.TuBiShvat ט"ו בִּשְׁבָט
                    %td.start-hidden.placeholder
          .row
            .col-lg-9.col-xs-10
              .row
                .col-xs-5.col-lg-4
                  %table.table.table-striped.table-condensed
                    %tr
                      %th.text-center{:colspan => 3} הַדְלַקָת נֵרוֹת
                    - 3.times do
                      %tr.one_hadlakat_nerot.start-hidden
                        %td.dow
                        %td.date
                        %td.time
                .col-lg-6.col-lg-offset-1.col-xs-7
                  %table.table.table-striped.table-condensed.mosaei-yom-tob.start-hidden
                    %tr
                      %th יוֹם טוֹב ends
                      %td.date
                      %td.yom-tob-ends
                  %table.table.table-striped.table-condensed.mosaei-yom-kippur.start-hidden
                    %tr
                      %th מוֹצָאֵי יוֹם הַכִּפֻּרִים
                      %th רַבֵּנוּ תָּם
                    %tr
                      %td.yom-kippur-ends
                      %td.yom-kippur-rabbenu-tam
                  %table.table.table-striped.table-condensed.mosaei-shabbat.start-shown
                    %tr
                      %th.text-center{:colspan => 3} מוֹצָאֵי שַׁבָּת
                    %tr
                      %td
                        .ereb-9-ab.start-hidden Finish סְעוּדַת<br>שְׁלִישִׁית before
                        .not-ereb-9-ab.start-shown Begin סְעוּדַת<br>שְׁלִישִׁית before
                      %td.begin-seudat-shelishit-before
                    %tr
                      %td שַׁבָּת ends
                      %td.shabbat-ends
                    %tr
                      %td רַבֵּנוּ תָּם
                      %td.rabbenu-tam
            .col-xs-2.col-lg-offset-1.links.text-center
              .row
                .col-xs-12
                  %p Have an idea for how we can make this page even better? Submit your sugggestions online:
                  %p
                    %img{:src => "images/issues.png", :height => 60, :width => 60}
                  %p
      .row.screen-only
        .col-xs-10.col-lg-offset-1
          .well
            %p This page is an open source project, created by Isaac Betesh.
            %p
              It uses Vladimir Agafonkin's
              %a{:href => "https://github.com/mourner/suncalc"} SunCalc JavaScript library
              to calculate Plag HaMincha, sunset, and Set Hakochabim.
            %p It uses MyZmanim.com's definition of Set HaKochabim: when the sun's declination is -8.5°
            %p
              Sunrise times were generated for the Hollywood, FL area using
              %a{:href => "http://chaitables.com"} Chaitables.com
              and represent the earliest visible sunrise in an 8km radius of 26°1'13" N, 80°11'35" W (which is approximately 5km due south of 3489 Griffin Road)
            %a{:href => "https://github.com/betesh/nahar-shalom-schedule"} View Source
:css
  @media print
  {
    .screen-only { display: none }
  }
  @media screen
  {
    .links { display: none }
  }
  .links {
    font-size: 10px;
  }
  .bold {
    font-weight: bold;
  }
  .row table.table td, .row table.table th {
    border-top: 1px dashed #555;
    border-right: 1px dashed #555;
    border-bottom: 1px dashed #555;
  }
  .row table.table td:first-child, .row table.table th:first-child {
    border-left: 1px dashed #555;
  }
  .countdown-to-sunrise {
    font-size: 30px;
  }
  .flip-clock-label {
    display: none;
  }
  .font22 {
    font-size: 22;
  }
