- require 'date'
%html
  %head
    %meta{:charset => "utf-8"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "http://momentjs.com/static/js/global.js"}
    %script{:type => "text/javascript", :src => "js/suncalc.js"}
    %script{:type => "text/javascript", :src => "js/passover.js"}
    %script{:type => "text/javascript", :src => "js/hebrew_date.js"}
    %script{:type => "text/javascript", :src => "js/config.js"}
    %script{:type => "text/javascript", :src => "js/mincha.js"}
    %script{:type => "text/javascript", :src => "js/schedule.js"}
    %link{:rel => "stylesheet", :href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
  %body
    .container-fluid
      %h1
        .row.text-center
          .col-xs-3.col-xs-offset-1
            %img{:src => "images/logo.jpg"}
          .col-xs-3
            Schedule for the week of ________ שַׁבַּת פְּרָשָׁת
      .row.screen-only
        .col-xs-6.col-xs-offset-1
          .well
            %input.calendar{:type => :date}
      .row
        .col-xs-6.col-xs-offset-1
          %table.table.table-striped.table-bordered
            %tr.header
              %th
              %th
              %th.hidden.selihot סְלְיחוֹת
              %th קָרְבָּנוֹת
              %th הוֹדוּ
              %th יִשְׁתַּבַּח
              %th עֲמִידָה
              %th מִנְחָה
              %th.event.hidden
            - Date::DAYNAMES.each do |day|
              %tr.one_day{:class => day}
                %td #{day}
                %td.date
                %td.hidden.selihot
                %td.korbanot
                %td.hodu
                %td.yishtabach
                %td.amidah
                %td.mincha
                %td.event.hidden.RoshHodesh רֹאשׁ חֹדֶשׁ
                %td.event.hidden.Taanit תַּעֲנִית
                %td.event.hidden.Hanuka חֲנֻכַּה
                %td.event.hidden.Purim פּוּרִים
                %td.event.hidden.Moed חוֹל הַמוֹעֵד
                %td.event.hidden.LagLaomer ל"ג לָעֹמֶר
                %td.event.hidden.PesachSheni פֶּסַח שֵׁנִי
                %td.event.hidden.BeginTalUmatar טַל וּמָטָר
                %td.event.hidden.YomTob יוֹם טוֹב
                %td.event.hidden.YomKippur יוֹם הַכִּפֻּרִים
                %td.event.hidden.TuBAb ט"ו בְּאָב
                %td.event.hidden.MaharHodesh מָחָר חֹדֶשׁ
                %td.event.hidden.PurimKatan פּוּרִים קָטָן
                %td.event.hidden.ShushanPurim שׁוּשַׁן פּוּרִים
                %td.event.hidden.ShushanPurimKatan שׁוּשַׁן פּוּרִים קָטָן
                %td.event.hidden.ShabbatMevarechim שַׁבָּת מְבָרְכִים
                %td.event.hidden.ShabbatSheqalim שַׁבָּת שְׁקָלִים
                %td.event.hidden.ShabbatZachor שַׁבָּת זָכוֹר
                %td.event.hidden.ShabbatParah שַׁבָּת פָּרָה
                %td.event.hidden.ShabbatHaHodesh שַׁבָּת הַחֹדֶשׁ
                %td.event.hidden.ShabbatHaGadol שַׁבָּת הַגָּדוֹל
                %td.event.hidden.HachrazatTaanit אַחֵינוּ
                %td.event.hidden.ErubTabshilin עֵרוּב תַּבְשִׁלִין
                %td.event.hidden.HataratNedarim הָתַּרָת נְדָרים
                %td.event.hidden.TuBiShvat ט"ו בִּשְׁבָט
                %td.hidden.placeholder
        .col-xs-3.col-xs-offset-1
          %table.table.table-striped.table-bordered
            %tr
              %th.text-center{:colspan => 3} הַדְלַקָת נֵרוֹת
            - 3.times do
              %tr.one_hadlakat_nerot.hidden
                %td.dow
                %td.date
                %td.time
          %br
          %table.table.table-striped.table-bordered
            %tr
              %th.text-center{:colspan => 3} מוֹצָאֵי שַׁבָּת
              %tr
                %td
                  .ereb-9-ab.hidden Finish סְעוּדַת שְׁלִישִׁית before
                  .not-ereb-9-ab Begin סְעוּדַת שְׁלִישִׁית before
                %td.begin-seudat-shelishit-before
              %tr
                %td שַׁבָּת ends
                %td.shabbat-ends
              %tr
                %td רַבֵּנוּ תָּם
                %td.rabbenu-tam
      .row.screen-only
        .col-xs-6.col-xs-offset-1
          .well
            %p This page is an open source project, created by Isaac Betesh.
            %p
              It uses Vladimir Agafonkin's
              %a{:href => "https://github.com/mourner/suncalc"} SunCalc JavaScript library
              to calculate sunset and Plag HaMincha
            %p
              Sunrise times were generated for the Hollywood, FL area using
              %a{:href => "http://chaitables.com"} Chaitables.com
              and represent the earliest visible sunrise in an 8km radius of 26°1'13" N, 80°11'35" W (which is approximately 5km due south of 3489 Griffin Road)
            %a{:href => "https://github.com/betesh/nahar-shalom-schedule"} View Source
      .row.links.text-center
        .col-xs-3.col-xs-offset-1
          %p View this page online @
          %p
            %img{:src => "images/live.png"}
          %p http://nahar-shalom.s3-website-us-east-1.amazonaws.com/index.html
        .col-xs-3
          %p Have an idea for how we can make this page even better? Submit your sugggestions online @
          %p
            %img{:src => "images/issues.png"}
          %p https://github.com/betesh/nahar-shalom-schedule/issues/new
:css
  @media print
  {
    .screen-only { display:none }
  }
  @media screen
  {
    .links { display:none }
  }
