@charset "utf-8";
@import "flipclock";

@media print
{
  .screen-only { display: none }
  .double-jumbotron {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // This is needed in order for break-before to work in Chrome.
  // See http://stackoverflow.com/a/24813258/1633753
  .shabbat { div { float: none !important; } }
  .page-break-before {
    break-before: always;
    page-break-before: always;
    -webkit-page-break-before: always;
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

.links {
  font-size: 10px;

  @media screen {
    display: none
  }
}

.bold {
  font-weight: bold;
}

.row table.table {
  td, th {
    border-top: 1px dashed #555;
    border-right: 1px dashed #555;
    border-bottom: 1px dashed #555;
  }

  td:first-child,  th:first-child {
    border-left: 1px dashed #555;
  }
}

.countdown-to-sunrise {
  font-size: 30px;
}

.flip-clock-label {
  display: none;
}

.font22 {
  font-size: 22px;
}

.font13 {
  font-size: 13px;
}

.font48 {
  font-size: 48px;
}

table.table {
  margin-bottom: 10px;
}

@page
{
  // Got this from http://stackoverflow.com/questions/1542320/margin-while-printing-html-page:
  size: auto;
  margin: 5mm 5mm 5mm 5mm;
}
