---
tracking_id: "UA-56578408-4"
title: "Nahar Shalom Countdown To Sunrise"
---
.container-fluid.text-center
  .row
    .col-xs-12
      %img.center-block{src: "images/logo.jpg"}
  .row.font50
    .col-xs-12
      Next sunrise:
  .row
    .col-xs-12.text-center
      %span.countdown-to-sunrise.bold
  .row
    .col-xs-12.text-center
      %a{:href => "index.html"} Weekly Schedule
    .col-xs-12.text-center
      %a{:href => "shabbat.html"} Shabbat Vatikin Schedule
:css
  .font50 {
    font-size: 50
  }
  .flip-clock-wrapper {
    width: auto;
    display: inline-block;
  }
