.container-fluid
  .row.text-center
    .col-xs-5.col-lg-offset-1
      %img{:src => "images/logo.jpg"}
    .col-xs-7.col-lg-3.bold
      .links http://times.naharshalom.com/
      .font48.Saturday
        %span.sedra
        %span.event.start-hidden.ShabbatSheqalim &mdash; שַׁבָּת שְׁקָלִים
        %span.event.start-hidden.ShabbatZachor &mdash; שַׁבָּת זָכוֹר
        %span.event.start-hidden.ShabbatParah &mdash; שַׁבָּת פָּרָה
        %span.event.start-hidden.ShabbatHaHodesh &mdash; שַׁבָּת הַחֹדֶשׁ
        %span.event.start-hidden.ShabbatHaGadol &mdash; שַׁבָּת הַגָּדוֹל
  .row.text-center
    .col-lg-10.col-lg-offset-1.col-xs-12
      .well.row.screen-only
        .col-xs-3
          %input.calendar{:type => :date}
        .col-xs-2.text-lg
          .btn.btn-default.btn-block.btn-lg.disabled{:type => :button} Next sunrise in:
        .col-xs-7
          %span.countdown-to-sunrise.text-center.bold
      .row
        .col-xs-12
          %table.table.table-striped.table-condensed
            %tr.header
              %th
              %th.date
              %th.hebrew_date
              %th.start-hidden.selihot סְלְיחוֹת
              %th.korbanot קָרְבָּנוֹת
              %th.hodu הוֹדוּ
              %th.yishtabach יִשְׁתַּבַּח
              %th.amidah עֲמִידָה
              %th.mincha מִנְחָה
              %th.arbit עַרְבִית
              %th.start-hidden.omer סְפִירַת הָעֹמֶר
              %th.event.start-hidden
            - Date::DAYNAMES.each do |day|
              %tr.one_day{:class => day}
                %td #{day}
                %td.date
                %td.hebrew_date
                %td.start-hidden.selihot
                %td.korbanot
                %td.hodu
                %td.yishtabach
                %td.amidah.bold
                %td.mincha
                %td.arbit
                %td.omer.start-hidden
                %td.event.start-hidden.RoshHodesh רֹאשׁ חֹדֶשׁ
                %td.event.start-hidden.Taanit תַּעֲנִית
                %td.event.start-hidden.Hanuka חֲנֻכַּה
                %td.event.start-hidden.Purim פּוּרִים
                %td.event.start-hidden.Moed חוֹל הַמוֹעֵד
                %td.event.start-hidden.LagLaomer ל"ג לָעֹמֶר
                %td.event.start-hidden.PesachSheni פֶּסַח שֵׁנִי
                %td.event.start-hidden.BeginTalUmatar Begin טַל וּמָטָר at עַרְבִית
                %td.event.start-hidden.YomTob יוֹם טוֹב
                %td.event.start-hidden.YomKippur יוֹם הַכִּפֻּרִים
                %td.event.start-hidden.TuBAb ט"ו בְּאָב
                %td.event.start-hidden.MaharHodesh מָחָר חֹדֶשׁ
                %td.event.start-hidden.PurimKatan פּוּרִים קָטָן
                %td.event.start-hidden.ShushanPurim שׁוּשַׁן פּוּרִים
                %td.event.start-hidden.ShushanPurimKatan שׁוּשַׁן פּוּרִים קָטָן
                %td.event.start-hidden.ErubTabshilin עֵרוּב תַּבְשִׁלִין
                %td.event.start-hidden.HataratNedarim הָתַּרָת נְדָרים
                %td.event.start-hidden.TuBiShvat ט"ו בִּשְׁבָט
                %td.event.start-hidden.BirkatHaIlanot בִּרְכַּת הָאִילָנוֹת
                %td.start-hidden.placeholder
      .row
        .col-lg-10.col-xs-12
          .row
            .col-xs-6.taanit.purim-table.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4}
                    .start-hidden.Tamuz17.start-hidden שִׁבְעָה עֲשָׂר בְּתַּמוּזִ
                    .start-hidden.FastOfGedaliah צוֹם גְּדַלְיָה
                    .start-hidden.Tebet10 עֲשָׂרָה בְּטֵבֵת
                    .start-hidden.TaanitEster תַּעֲנִית אֶסְתֵּר
                    .start-hidden.TaanitEsterAndPurim תַּעֲנִית אֶסְתֵּר / פּוּרִים
                    .start-hidden.PurimOnly פּוּרִים
                %tr.day.start-hidden.fast-begins
                  %td.dow{rowspan: 2}
                  %td.date{rowspan: 2}
                  %td Fast begins
                  %td.time
                %tr.day.start-hidden.fast-ends
                  %td Fast ends
                  %td.time
                %tr.day.start-hidden.mahasit-hashekel
                  %td{colspan: 2} זֵכֶר לְמַחֲצִית הַשֶּׁקֶל
                %tr.day.start-hidden.megilla
                  %td קְרִיאַת הַמְגִּילִָה
                  %td.time
                %tr.purim-row.start-hidden.megilla
                  %td.dow{rowspan: 1}
                  %td.date{rowspan: 1}
                  %td קְרִיאַת הַמְגִּילִָה
                  %td.time
                %tr.purim-row.start-hidden.hadlakat-nerot
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
            .col-xs-6.pesach-first-days.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} יוֹם טוֹב רִאשׁוֹן שֶׁל פֶּסַח
                %tr.eve.hadlakat-nerot.start-hidden
                  %td.dow{rowspan: 2}
                  %td.date{rowspan: 2}
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.eve.chatzot.start-hidden
                  %td חֲצוֹת
                  %td.time
                %tr.first.shema.start-hidden
                  %td.dow
                  %td.date
                  %td.bold Say שְׁמַע יִשְׂרָאֵל before
                  %td.time.bold
                %tr.first.seudat-shelishit.start-hidden
                  %td.dow.start-hidden
                  %td.date.start-hidden
                  %td.font13
                    %span Begin סְעוּדַת שְׁלִישִׁית
                    %span.bold at home
                    %span before
                  %td.time
                %tr.first.afternoon-shiur.start-hidden
                  %td.dow.start-hidden
                  %td.date.start-hidden
                  %td Afternoon Shiur
                  %td.time
                %tr.first.ends.start-hidden
                  %td שַׁבָּת ends
                  %td.time
                %tr.first.rabbenu-tam.start-hidden
                  %td רַבֵּנוּ תָּם
                  %td.time
                %tr.first.hadlakat-nerot.start-hidden
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.first.chatzot.start-hidden
                  %td חֲצוֹת
                  %td.time
                %tr.second.shema.start-hidden
                  %td.dow{rowspan: 3}
                  %td.date{rowspan: 3}
                  %td.bold Say שְׁמַע יִשְׂרָאֵל before
                  %td.time.bold
                %tr.second.afternoon-shiur.start-hidden
                  %td.dow{rowspan: 2}
                  %td.date{rowspan: 2}
                  %td Afternoon Shiur
                  %td.time
                %tr.second.ends.start-hidden
                  %td יוֹם טוֹב ends
                  %td.time
            .col-xs-6.pesach-last-days.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} שְׁבִיעִי וְאַחֲרוֹן שֶׁל פֶּסַח
                %tr.eve.hadlakat-nerot.start-hidden
                  %td.dow
                  %td.date
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.first.seudat-shelishit.start-hidden
                  %td.dow.start-hidden
                  %td.date.start-hidden
                  %td.font13
                    %span Begin סְעוּדַת שְׁלִישִׁית
                    %span.bold at home
                    %span before
                  %td.time
                %tr.first.afternoon-shiur.start-hidden
                  %td.dow.start-hidden
                  %td.date.start-hidden
                  %td Afternoon Shiur
                  %td.time
                %tr.first.ends.start-hidden
                  %td שַׁבָּת ends
                  %td.time
                %tr.first.rabbenu-tam.start-hidden
                  %td רַבֵּנוּ תָּם
                  %td.time
                %tr.first.hadlakat-nerot.start-hidden
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.second.afternoon-shiur.start-hidden
                  %td.dow
                  %td.date
                  %td Afternoon Shiur
                  %td.time
                %tr.second.seudat-shelishit.start-hidden
                  %td.font13 Begin סְעוּדַת שְׁלִישִׁית before
                  %td.time
                %tr.second.ends.start-hidden
                  %td יוֹם טוֹב ends
                  %td.time
                %tr.second.rabbenu-tam.start-hidden
                  %td רַבֵּנוּ תָּם
                  %td.time
            .col-xs-6.shabuot.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} חַג הַשָׁבֻעֹת
            .col-xs-6.chabob.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} תִּשְׁעָה בְּאָב
                %tr.eve.fast-begins.start-hidden
                  %td.dow
                  %td.date
                  %td Fast begins
                  %td.time
                %tr.day.chatzot
                  %td.dow{rowspan: 2}
                  %td.date{rowspan: 2}
                  %td חֲצוֹת
                  %td.time
                %tr.day.fast-ends
                  %td Fast ends
                  %td.time
            .col-xs-6.rosh-hashana.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} רֹאשׁ הַשָּׁנָה
            .col-xs-6.yom-kippur.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} יוֹם הַכִּפֻּרִים
                %tr.eve.hadlakat-nerot
                  %td.dow
                  %td.date
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.day.neilah
                  %td.dow{rowspan: 5}
                  %td.date{rowspan: 5}
                  %td נְעִילָה
                  %td.time
                %tr.day.sunset
                  %td בִּרְכַּת כֹּהֲנִים before
                  %td.time
                %tr.day.ends
                  %td שׁוֹפַר
                  %td.time
                %tr
                  %td.bold{colspan: 2} No eating before הַבְדָלָה
                %tr.day.rabbenu-tam
                  %td רַבֵּנוּ תָּם
                  %td.time
            .col-xs-6.sukkot-first-days.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} חַג הַסֻּכּוֹת
            .col-xs-6.sukkot-last-days.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} שְּׁמִינִי עֲצֶרֶת וְשִׂמְחַת תּוֹרָה
            .col-xs-6.shabbat.start-hidden
              %table.table.table-striped.table-condensed
                %tr
                  %th.text-center{:colspan => 4} שַׁבָּת
                %tr.eve.hadlakat-nerot.start-hidden
                  %td.dow
                  %td.date
                  %td הַדְלַקָת נֵרוֹת
                  %td.time
                %tr.day.mi-chamocha.start-hidden
                  %td.dow{rowspan: 6}
                  %td.date{rowspan: 6}
                  %td (מִי כָמֹכָה (פִּיוּט לְשַׁבָּת זָכוֹר
                  %td.time
                %tr.day.shema.start-hidden
                  %td.dow{rowspan: 5}
                  %td.date{rowspan: 5}
                  %td.bold Say שְׁמַע יִשְׂרָאֵל before
                  %td.time.bold
                %tr.day.zachor.start-hidden
                  %td.bold פְּרָשָׁת זָכוֹר
                  %td.time.bold
                %tr.day.afternoon-shiur
                  %td.dow.start-shown{rowspan: 4}
                  %td.date.start-shown{rowspan: 4}
                  %td Afternoon Shiur
                  %td.time
                %tr.day.seudat-shelishit
                  %td.font13
                    .ereb-9-ab.start-hidden Finish סְעוּדַת שְׁלִישִׁית before
                    .not-ereb-9-ab.start-shown Begin סְעוּדַת שְׁלִישִׁית before
                  %td.time
                %tr.day.ends
                  %td שַׁבָּת ends
                  %td.time
                %tr.day.rabbenu-tam
                  %td רַבֵּנוּ תָּם
                  %td.time
                %tr.day.molad.font13.start-hidden
                  %td.bold.text-center{colspan: 4}
                %tr.day.abot-ubanim.start-hidden
                  %td{colspan: 2} מוֹצָאֵי שַׁבָּת
                  %td אָבוֹת וּבָּנִים
                  %td.time
            .col-lg-4.col-lg-offset-1.col-xs-5.announcement.jumbotron.font22.start-hidden
  .row.screen-only
    .col-xs-10.col-lg-offset-1
      .well
        %p This page is an open source project, created by Isaac Betesh.
        %p
          It uses Vladimir Agafonkin's
          %a{:href => "https://github.com/mourner/suncalc"} SunCalc JavaScript library
          to calculate Plag HaMincha, sunset, and Set Hakochabim.
        %p It uses MyZmanim.com's definition of Set HaKochabim: when the sun's declination is -8.5°
        %p
          Sunrise times were generated for the Hollywood, FL area using
          %a{:href => "http://chaitables.com"} Chaitables.com
          and represent the earliest visible sunrise in an 8km radius of 26°1'13" N, 80°11'35" W (which is approximately 5km due south of 3489 Griffin Road)
        %a{:href => "https://github.com/betesh/nahar-shalom-schedule"} View Source
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-56578408-1', 'auto');ga('send', 'pageview');
