;;;
"title": "Nahar Shalom Shabbat Vatikin Schedule",
"tracking_id":"UA-56578408-2"
;;;
.container-fluid
  .row.text-center
    .col-xs-5.col-lg-offset-1
      %img{:src => "images/logo.jpg"}
    .col-xs-7.col-lg-3.bold
      .links http://times.naharshalom.com/shabbat
  .row.text-center
    .col-lg-10.col-lg-offset-1.col-xs-12
      .well.row.screen-only
        .col-xs-3
          %select.year_select
      .row
        .col-xs-12
          %table.table.table-striped.table-condensed.vatikin-schedule
            %tr.header
              %th
              %th
              %th
              %th קָרְבָּנוֹת
              %th הוֹדוּ
              %th נִשְׁמַת כָּל-חַי
              %th עֲמִידָה
  .row.screen-only
    .col-xs-10.col-lg-offset-1
      .well
        %p This page is an open source project, created by Isaac Betesh.
        %p
          It uses Vladimir Agafonkin's
          %a{:href => "https://github.com/mourner/suncalc"} SunCalc JavaScript library
          to calculate Plag HaMincha, sunset, and Set Hakochabim.
        %p It uses MyZmanim.com's definition of Set HaKochabim: when the sun's declination is -8.5°
        %p
          Sunrise times were generated for the Hollywood, FL area using
          %a{:href => "http://chaitables.com"} Chaitables.com
          and represent the earliest visible sunrise in an 8km radius of 26°1'13" N, 80°11'35" W (which is approximately 5km due south of 3489 Griffin Road)
        %a{:href => "https://github.com/betesh/nahar-shalom-schedule"} View Source
